<%= form_with model: @booking, method: :create, local: true do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id %>

    <%= form.fields_for :passengers do |passengers_form| %>
        <div class="rounded border border-dark mt-3 mb-3 p-4">
            <h4>Passenger </h4>
            <%= passengers_form.hidden_field :id, value: nil %>
            <%= passengers_form.label :name %>
            <%= passengers_form.text_field :name, class:"form-control" %>

            <%= passengers_form.label :phone_number %>
            <%= passengers_form.text_field :phone_number, class:"form-control" %>

            <%= passengers_form.label :email %>
            <%= passengers_form.text_field :email, class:"form-control" %>
        </div>
    <% end %>
    <div class="d-flex justify-content-end">
        <%= form.submit "Submit", :class => "btn btn-success" %>
    </div>
<% end %>
