<h1>Book your flight </h1>

<% if @flight && params[:passengers] %>

    <div>Number of Passengers </div>
    <div><%= params[:passengers] %></div>

    <div>Flight</div>
    <div>
        <div class="d-flex justify-content-between">
            <div>From: <%= @flight.from_airport.airport_code %> </div>
            <div>To: <%= @flight.to_airport.airport_code %> </div>
            <div>Date Time: <%= @flight.start_datetime.strftime("%m/%d/%Y") %> </div>
        </div>
    </div>
<% else %>
<div>
    Flight was not selected. Please return to select a flight.
</div>
<%= link_to 'Return to select flight', :back %>


<% end %>
